<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <meta charset="utf-8">
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        A list of users
      </h1>
    </header>

    <main>
      <h3>Add a new user:</h3>
      <form>
        <label>First Name:</label>
        <input id="firstName" type="text" placeholder="Joe"> <br><br>
        <label>Surname:</label>
        <input id="surName" type="text" placeholder="Blogs"> <br><br>
        <label>Email:</label>
        <input id="email" type="text" placeholder="joeBlogs@gmail.com"> <br><br>
        <label>Career:</label>
        <input id="career" type="text" placeholder="Engineer"> <br><br>
        <button id="submit-btn" type="submit">Submit</button>
      </form>
       <p>Users:</p>
      <section>
        <ol id="users">
        </ol>
      </section>

    </main>
  </body>
</html>
